<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:substituteby="fragments/public_pages_header::public_pages_header-css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Tela de Recuperação de Senha">
    <meta name="author" content="Lucas Carvalho">
    <link rel="icon" href="..\..\imgs\logotipo.png">
</head>
<head>
	<title> SGMED - Recuperar Senha</title>
</head>
<body>
	<div th:replace="fragments/public_pages_header :: public_pages_header"></div>

    <!-- Conteudo da tela, embaixo do Menu de Navegação-->
    <div class="container">
        <div class="starter-template">
            <h4 style="text-align: center">Redefinir sua senha do Sistema</h4>
            <br>
            <h6 style="text-align: center">Digite seu login e e-mail, para enviarmos um link de redefinição de senha.</h6>
            <br/>
            <form id="formRecuperacaoSenha" action="#" th:action="@{/usuario/recuperarSenha}" th:object="${usuarioPO}" method="post" role="form">
                <div class="form-group">
                    <label class="form-control-label" for="formGroupExampleInput">Nome do Usuário :</label>
                    <input type="text" class="form-control" id="nome_id" name="nome_id" required th:field="*{login}" />
                </div>
                <div class="form-group center">
                    <button type="submit" class="btn btn-primary btn-md">Enviar</button>
                </div>
            </form>
        </div>
    </div>

	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
