<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Tela de Medicamento">
<link rel="icon" href="..\..\imgs\logotipo.png">

<title>SGMED - Relatório de Medicamento</title>

<!-- Referencia para as classes CSS do bootstrap! (OBS: Verificar o Caminho das Pastas) -->
<link href="../../css/bootstrap/bootstrap.css" rel="stylesheet">
<link href="../../css/relatorio/busca_relatorio_estilo.css"
	rel="stylesheet">
<link rel="stylesheet" type="text/css"
	href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
</head>
<body>
	<!--Menu de Navegação-->
	<div th:replace="fragments/header :: header"></div>

	<!-- Conteudo da tela, embaixo do Menu de Navegação-->
	<div class="container">
		<div class="starter-template">
			<h4 style="text-align: center">Relatório de medicamento</h4>
			<br />
			<form id="formBuscaRelatorioMedicamento" action="#"
				th:action="@{/relatorio/buscaRelatorioMedicamento}"
				th:object="${itemEstoquePO}" method="post" role="form">
				<div class=" center form-group">
					<label class="form-control-label" for="formGroupExampleInput">Para
						realizar a consulta, informe o nome comercial desejado ou clique em buscar para retornar todos os medicamentos em estoque. </label>
				</div>
				<div class="form-group">
					<label class="form-control-label" for="estoque_nome_comercial_id">Nome
						Comercial :</label> <input type="text" class="form-control"
						id="relatorio_nome_comercial_id"
						name="relatorio_nome_comercial_id"
						th:field="*{medicamentoPO.nomeComercial}"  />
				</div>
				<div class="form-group center">
					<button type="submit" class="btn btn-primary btn-md" id="btnBuscar">Buscar</button>
				</div>
			</form>
		</div>
	</div>
	<div th:replace="fragments/footerJqueryBusca :: footer"></div>
</body>
</html>