<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:substituteby="fragments/public_pages_header::public_pages_header-css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Tela de Login">
    <meta name="author" content="Lucas Carvalho">
</head>
<head>
    <title> SGMED - Login</title>
</head>
<body>
	<!--Menu de Navegação-->
	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<img src="..\..\imgs\logotipo.png"
			style="width: 40.5px; height: auto;"> &nbsp;

	</nav>
	<!-- Conteudo da tela, embaixo do Menu de Navegação-->
    <div class="container">
        <div class="card card-container">
            <form th:action="@{/login}" method="POST" class="form-signin">
                <h4 style="text-align: center">Faça o Login no Sistema</h4>
                <br />
                <input type="text" class="form-control" id="login" name="login" placeholder="Nome de Usuário" required autofocus>
                <input type="password" class="form-control" id="senha" name="senha" placeholder="Senha" required>
                <div id="lembre_id" class="checkbox">
                    <label>
                        <input type="checkbox" value="lembre"> Lembre-Me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Login</button>
            </form>
            <div class="center">
<!--                 <a href="#" class="forgot-password">Esqueci minha senha</a> -->
<!--                 <br /> -->
                <a href="cadastro" class="forgot-password">Criar cadastro no sistema</a>
            </div>
        </div>
    </div>
    
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
