<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Tela de Paciente">
<meta name="author" content="Lucas Carvalho">
<link rel="icon" href="..\..\imgs\logotipo.png">

<title>SGMED - Buscar Paciente</title>

<!-- Referencia para as classes CSS do bootstrap! (OBS: Verificar o Caminho das Pastas) -->
<link href="../../css/bootstrap/bootstrap.css" rel="stylesheet">
<link href="../../css/paciente/busca_de_paciente_estilo.css"
	rel="stylesheet">
<link rel="stylesheet"
	href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body>
	<!--Menu de Navegação-->
	<div th:replace="fragments/header :: header"></div>

	<!-- Conteudo da tela, embaixo do Menu de Navegação-->
	<div class="container">
		<div class="starter-template">
			<h4 style="text-align: center">Buscar Paciente para Alterar</h4>
			<br />
			<form id="formBuscaPaciente" action="#"
				th:action="@{/paciente/buscaAlteracaoPaciente}"
				th:object="${pacientePO}" method="post" role="form">
				<div class=" center form-group">
					<label class="form-control-label" for="formGroupExampleInput">Para
						realizar a busca, digite o CPF ou Nome do paciente. </label>
				</div>
				<div class="form-group">
					<label class="form-control-label" for="formGroupExampleInput">CPF
						:</label> <input type="number" class="form-control" id="cpf_id"
						name="cpf_id" th:field="*{cpfPaciente}" required />
				</div>
				<div class="form-group">
					<label class="form-control-label" for="formGroupExampleInput">Nome
						:</label> <input type="text" class="form-control" id="nome_id"
						name="nome_id" th:field="*{nomePaciente}" required />
				</div>
				<div class="form-group center">
					<button type="submit" class="btn btn-primary btn-md" id="btnBuscar">Buscar</button>
				</div>

				<div id="teste_id" class="form-group center" style="display: none;">
					<label>Teste:</label><input type="number" class="form-control"
						id="cpf_par_id" name="cpf_par_id" th:field="*{cpfPaciente}" />
				</div>
			</form>
		</div>
	</div>
	<div th:replace="fragments/footerJqueryBusca :: footer"></div>
</body>
</html>
