<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Tela de Paciente">
<meta name="author" content="Lucas Carvalho">
<link rel="icon" href="..\..\imgs\logotipo.png">

<title>SGMED - Cadastro de Paciente</title>

<!-- Referencia para as classes CSS do bootstrap! (OBS: Verificar o Caminho das Pastas) -->
<link href="../../css/bootstrap/bootstrap.css" rel="stylesheet">
<link href="../../css/paciente/cadastro_de_paciente_estilo.css"
	rel="stylesheet">

<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>

</head>
<body>
	<!--Menu de Navegação-->
	<div th:replace="fragments/header :: header"></div>


	<!-- Conteudo da tela, embaixo do Menu de Navegação-->
	<div class="container">
		<div class="starter-template">
			<h4 style="text-align: center">Cadastro de Paciente</h4>
			<br />
			<form id="formCadastroPaciente"
				th:action="@{/paciente/cadastroPaciente}" th:object="${pacientePO}"
				method="post">
				<div class="form-group">
					<label class="form-control-label" for="formGroupExampleInput">Primeiro
						Nome Completo:</label> <input type="text" class="form-control"
						id="nome_completo_id" name="nome_completo"
						th:field="*{nomePaciente}" required />
				</div>
				<div class="form-group">
					<label class="form-control-label" for="formGroupExampleInput">Data
						de Nascimento :</label> <input type="date"
						class="form-control input-sm chat-input" placeholder="dt_nasc"
						name="dt_nasc" id="dt_nasc_id" th:field="*{dtNascimentoPaciente}"
						pattern="dd/MM/yyyy" required />
				</div>
				<div class="form-group">
					<label class="form-control-label" for="formGroupExampleInput">CPF
						:</label> <input type="text" class="form-control validate" id="cpf_id"
						name="cpf_id" placeholder="___.___.___-__"
						th:field="*{cpfPaciente}" required />
					<div id="div_error_cpf" class="class_error"></div>
				</div>
				<div class="form-group">
					<label class="form-control-label" for="formGroupExampleInput">Telefone
						:</label> <input type="text" class="form-control" id="telefone_id"
						name="telefone_id" placeholder="(__) ____-____"
						th:field="*{telefonePaciente}" />
				</div>
				<div class="form-group">
					<label class="form-control-label" for="formGroupExampleInput">Celular
						:</label> <input type="text" class="form-control" id="celular_id"
						name="celular_id" placeholder="(__) _____-____"
						th:field="*{celularPaciente}" required />
				</div>
				<div class="form-group">
					<label class="form-control-label" for="formGroupExampleInput">E-mail
						:</label> <input type="text" class="form-control" id="email_id"
						name="email_id" placeholder="exemplo@exemplo.com"
						th:field="*{emailPaciente}" required />
					<div id="div_error_email" class="class_error"></div>
				</div>
				<div class="form-group">
					<label class="form-control-label" for="formGroupExampleInput">CEP
						:</label> <input type="text" class="form-control" id="cep_id"
						name="cep_id" placeholder="_____-___" th:field="*{cepPaciente}"
						required />
					<div id="div_error_cep" class="class_error"></div>
				</div>
				<div class="form-group">
					<label class="form-control-label" for="formGroupExampleInput">Endereço
						(Nome da Rua ou Avenida) :</label> <input type="text" class="form-control"
						id="endereco_id" name="endereco" th:field="*{enderecoPaciente}"
						readonly />
				</div>
				<div class="form-group">
					<label class="form-control-label" for="formGroupExampleInput">Número
						:</label> <input type="number" class="form-control" id="numero_id"
						name="numero" th:field="*{numeroEnderecoPaciente}" required />
				</div>
				<div class="form-group">
					<label class="form-control-label" for="formGroupExampleInput">Complemento
						:</label> <input type="text" class="form-control" id="complemento_id"
						name="complemento" th:field="*{complementoEnderecoPaciente}" />
				</div>
				<div class="form-group">
					<label class="form-control-label" for="formGroupExampleInput">UF
						:</label> <input type="text" class="form-control" id="uf_id" name="uf"
						th:field="*{estadoPaciente}" readonly />
				</div>
				<!-- 				<div class="form-group"> -->
				<!-- 					<label class="form-control-label" for="formGroupExampleInput">Estado -->
				<!-- 						:</label> <select id="uf_id" th:field="*{estadoPaciente}" -->
				<!-- 						class="form-control"> -->

				<!-- 						<option th:each="uf : ${ufs}" th:value="${uf}" th:text="${uf}"></option> -->

				<!-- 					</select> -->
				<!-- 				</div> -->
				<div class="form-group">
					<label class="form-control-label" for="formGroupExampleInput">Cidade
						:</label> <input type="text" class="form-control" id="cidade_id"
						name="cidade" th:field="*{cidadePaciente}" readonly />
				</div>
				<div class="form-group center">
					<button type="submit" class="btn btn-primary btn-md">Cadastrar</button>
				</div>
			</form>
		</div>
	</div>
	<div th:replace="fragments/footerJquery :: footer"></div>

</body>
</html>
