<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Tela de Paciente">
<meta name="author" content="Lucas Carvalho">
<link rel="icon" href="..\..\imgs\logotipo.png">

<title>SGMED - Alterar Medicamento</title>

<!-- Referencia para as classes CSS do bootstrap! (OBS: Verificar o Caminho das Pastas) -->
<link href="../../css/bootstrap/bootstrap.css" rel="stylesheet">
<link href="../../css/paciente/resultado_busca_paciente_estilo.css"
	rel="stylesheet">

<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>
</head>
<body>
	<!--Menu de Navegação-->
	<div th:replace="fragments/header :: header"></div>

	<!-- Conteudo da tela, embaixo do Menu de Navegação-->
	<div class="container">
		<div class="starter-template">
			<h5 style="text-align: left">Alterar informações do Paciente :</h5>
			<br />
			<form id="formAlteracaoPaciente" method="post">
				<!-- 			<fieldset disabled> -->
				<div class="form-group">
					<label class="form-control-label" for="formGroupExampleInput">
						ID do Paciente:</label> <input type="text" class="form-control"
						id="paciente_id" name="paciente_id"
						th:value="${pacienteBuscado.idPaciente}" readonly />
				</div>
				<div class="form-group">
					<label class="form-control-label" for="formGroupExampleInput">
						CPF do Paciente:</label> <input type="text" class="form-control"
						id="cpf_id" name="cpf_id"
						th:value="${pacienteBuscado.cpfPaciente}" readonly />
				</div>
				<div class="form-group">
					<label class="form-control-label" for="formGroupExampleInput">
						Nome Completo:</label> <input type="text" class="form-control"
						id="nome_completo_id" name="nome_completo_id"
						th:value="${pacienteBuscado.nomePaciente}" required />
				</div>
				<div class="form-group">
					<label class="form-control-label" for="formGroupExampleInput">Data
						de Nascimento :</label> <input type="date" id="dt_nasc_id"
						name="dt_nasc_id" min="1900-01-01" max="2014-12-31"
						class="form-control input-sm chat-input"
						th:value="${pacienteBuscado.dtNascimentoPaciente}" required />
				</div>
				<div class="form-group">
					<label class="form-control-label" for="formGroupExampleInput">Telefone
						:</label> <input type="text" class="form-control" id="telefone_id"
						name="telefone_id" th:value="${pacienteBuscado.telefonePaciente}" />
					<div id="div_error_telefone" class="class_error"></div>
				</div>
				<div class="form-group">
					<label class="form-control-label" for="formGroupExampleInput">Celular
						:</label> <input type="text" class="form-control" id="celular_id"
						name="celular_id" th:value="${pacienteBuscado.celularPaciente}"
						required />
					<div id="div_error_celular" class="class_error"></div>
				</div>
				<div class="form-group">
					<label class="form-control-label" for="formGroupExampleInput">E-mail
						:</label> <input type="text" class="form-control" id="email_id"
						name="email_id" th:value="${pacienteBuscado.emailPaciente}"
						required />
					<div id="div_error_email" class="class_error"></div>
				</div>
				<div class="form-group">
					<label class="form-control-label" for="formGroupExampleInput">CEP
						:</label> <input type="text" class="form-control" id="cep_id"
						name="cep_id" th:value="${pacienteBuscado.cepPaciente}" required />
					<div id="div_error_cep" class="class_error"></div>
				</div>
				<div class="form-group">
					<label class="form-control-label" for="formGroupExampleInput">Endereço
						:</label> <input type="text" class="form-control" id="endereco_id"
						name="endereco_id" th:value="${pacienteBuscado.enderecoPaciente}"
						readonly />
				</div>
				<div class="form-group">
					<label class="form-control-label" for="formGroupExampleInput">Número
						:</label> <input type="number" class="form-control" id="numero_id"
						name="numero_id"
						th:value="${pacienteBuscado.numeroEnderecoPaciente}" required />
				</div>
				<div class="form-group">
					<label class="form-control-label" for="formGroupExampleInput">Complemento
						:</label> <input type="text" class="form-control" id="complemento_id"
						name="complemento_id"
						th:field="${pacienteBuscado.complementoEnderecoPaciente}" />
				</div>
				<div class="form-group">
					<label class="form-control-label" for="formGroupExampleInput">Estado
						:</label> <input type="text" class="form-control" id="uf_id" name="uf_id"
						th:value="${pacienteBuscado.estadoPaciente}" readonly />
				</div>
				<div class="form-group">
					<label class="form-control-label" for="formGroupExampleInput">Cidade
						:</label> <input type="text" class="form-control" id="cidade_id"
						name="cidade_id" th:value="${pacienteBuscado.cidadePaciente}"
						readonly />
				</div>

				<div class="form-group center">
					<button type="submit" class="btn btn-primary btn-md">Alterar</button>
				</div>

				<!-- 			</fieldset> -->
			</form>
		</div>
	</div>
	<div th:replace="fragments/footerJquery :: footer"></div>
</body>
</html>
