<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Tela de Paciente">
<meta name="author" content="Lucas Carvalho">
<link rel="icon" href="..\..\imgs\logotipo.png">

<title>SGMED - Saída de Medicamento</title>

<!-- Referencia para as classes CSS do bootstrap! (OBS: Verificar o Caminho das Pastas) -->
<link href="../../css/bootstrap/bootstrap.css" rel="stylesheet">
<link href="../../css/paciente/busca_de_paciente_estilo.css"
	rel="stylesheet">
<link rel="stylesheet"
	href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

</head>
<body>
	<!--Menu de Navegação-->
	<div th:replace="fragments/header :: header"></div>

	<!-- Conteudo da tela, embaixo do Menu de Navegação-->
	<div class="container">
		<div class="starter-template">
			<h4 style="text-align: center">Saída de Medicamento</h4>
			<br />
			<form id="formSaidaMedicamento" method="POST" role="form">
				<div class=" center form-group">
					<label class="form-control-label" for="formGroupExampleInput">Para
						a retirada de medicamento, digite o Nome do Paciente e o Nome
						Comercial do Medicamento. </label>
				</div>
				<div class="form-group">
					<label class="form-control-label" for="saida_estoque_nome_id">Nome
						do Paciente :</label> <input type="text" class="form-control"
						maxlength="70" id="saida_estoque_nome_id"
						name="saida_estoque_nome_id" required />
				</div>
				<div class="form-group">
					<label class="form-control-label" for="estoque_nome_comercial_id">Nome
						Comercial do Medicamento :</label> <input type="text" class="form-control"
						maxlength="70" id="estoque_nome_comercial_id"
						name="estoque_nome_comercial_id" required />
				</div>
				<div class="form-group center">
					<button type="submit" class="btn btn-primary btn-md" id="btnBuscar">Avançar</button>
				</div>

				<div id="teste_id" class="form-group center" style="display: none;">
					<label>Teste:</label><input type="number" class="form-control"
						id="cpf_par_id" name="cpf_par_id" />
				</div>

				<div id="teste_id" class="form-group center" style="display: none;">
					<label>Teste:</label><input type="number" class="form-control"
						id="lote_par_id" name="lote_par_id" />
				</div>

			</form>
		</div>
	</div>
	<div th:replace="fragments/footerJqueryBusca :: footer"></div>
</body>
</html>
