<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Tela de Medicamento">
    <link rel="icon" href="..\..\imgs\logotipo.png">

    <title> SGMED - Buscar Medicamento</title>

    <!-- Referencia para as classes CSS do bootstrap! (OBS: Verificar o Caminho das Pastas) -->
    <link href="../../css/bootstrap/bootstrap.css" rel="stylesheet">
    <link href="../../css/medicamento/busca_medicamento_estilo.css" rel="stylesheet">
</head>
<body>
    <!--Menu de Navegação-->
    <div th:replace="fragments/header :: header"></div>

    <!-- Conteudo da tela, embaixo do Menu de Navegação-->
    <div class="container">
        <div class="starter-template">
            <h4 style="text-align: center">Busca de medicamento</h4>
            <br />
            <form action="#" th:action="@{/medicamento/buscaMedicamento}" th:object="${medicamentoPO}" method="post" role="form">
                <div class=" center form-group" >
                    <label class="form-control-label" for="formGroupExampleInput">Para realizar a busca, informe 
                    o id do medicamento ou o nome comercial desejado. </label>
                </div>
				<div class="form-group">
                    <label class="form-control-label" for="formGroupExampleInput">ID do Medicamento :</label>
                    <input type="text" class="form-control" id="medicamento_id" name="medicamento_id" placeholder="ID do Medicamento" th:field="*{idMedicamento}" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="formGroupExampleInput">Nome Comercial :</label>
                    <input type="text" class="form-control" id="nome_comercial_id" name="nome_comercial" placeholder="Nome Comercial" th:field="*{nomeComercial}" />
                </div>
                <div class="form-group center">
                    <button type="submit" class="btn btn-primary btn-md">Buscar</button>
                </div>
            </form>
        </div>
    </div>
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>