<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Tela de Medicamento">
    <meta name="author" content="Lucas Carvalho">
    <link rel="icon" href="..\..\imgs\logotipo.png">

    <title> SGMED - Cadastrar Medicamento</title>

    <!-- Referencia para as classes CSS do bootstrap! (OBS: Verificar o Caminho das Pastas) -->
	<link href="../../css/bootstrap/bootstrap.css" rel="stylesheet">
    <link href="../../css/medicamento/cadastro_de_medicamento_estilo.css" rel="stylesheet">
    
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
    
    <!-- Conteudo da tela, embaixo do Menu de Navegação-->
    <div class="container">
        <div class="starter-template">
            <h4 style="text-align: center">Cadastro de Medicamento</h4>
            <br />
            <!--Inicio do Formulário-->
            <form name="formCadastro" th:action="@{/medicamento/cadastroMedicamento}" th:object="${medicamentoPO}" method="post" role="form" >
                <div class="form-group">
                    <label class="form-control-label" for="formGroupExampleInput">ID do Medicamento :</label>
                    <label th:if="${#fields.hasErrors('idMedicamento')}" th:errors="*{idMedicamento}" class="validation-message"></label>
                    <input type="number" class="form-control" id="medicamento_id" name="medicamento_id" placeholder="ID do Medicamento"  th:field="*{idMedicamento}" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="formGroupExampleInput">Nome Comercial :</label>
                    <input type="text" class="form-control" id="nome_comercial_id" name="nome_comercial" placeholder="Nome Comercial"  th:field="*{nomeComercial}" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="formGroupExampleInput">Principio Ativo :</label>
                    <input type="text" class="form-control" id="principio_ativo_id" name="principio_ativo" placeholder="Principio Ativo"  th:field="*{principioAtivo}" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="formGroupExampleInput">Indicações :</label>
                    <input type="text" class="form-control" id="indicacoes_id" name="indicacoes" placeholder="Indicações"  th:field="*{indicacoes}" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="formGroupExampleInput">Contra Indicações :</label>
                    <input type="text" class="form-control" id="contra_indicacoes_id" name="contra_indicacoes" placeholder="Contra Indicações"  th:field="*{contraIndicacoes}" />
                </div>
                <div class="form-group">
                    <label class="form-control-label">Genérico :&nbsp;&nbsp;</label>
                    <label class="radio-inline">
                        <input type="radio" th:field="*{generico}" th:value="1">Sim &nbsp;
                    </label>
                    <label class="radio-inline">
                        <input type="radio" th:field="*{generico}" th:value="2">Não &nbsp;
                    </label>
                </div>
                <div class="form-group center">
                        <button type="button" class="btn btn-primary btn-md" id="btnCadastrar" >Cadastrar</button>
                </div>  
            </form>
<!--             <span th:utext="${successMessage}"></span> -->
        </div>
    </div>
	
	 <!-- Modal -->
  <div class="modal fade" id="modal_sucesso" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p class="center">Medicamento cadastrado com sucesso.</p>
                    </div>
                </div>
            </div>
        </div>
	
	<div th:replace="fragments/footer :: footer"></div>
	<script>
$(document).ready(function(){
    $("#btnCadastrar").click(function(){
        $("#modal_sucesso").modal();
    });
});
</script>
</body>
</html>
