<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:with="mobile=${true}"
	th:substituteby="fragments/header::header-css"></head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
	<script>
		function alerta() {
			alert('Cadastro realizado com sucesso!');
		}
	</script>

	<div th:replace="fragments/header :: header"></div>
	<div class="container-fluid">

		<div class="row">
			<form th:action="@{/medicamento/cadastroMedicamento}" method="POST" class="form-signin">
				<div role="main" class="col-md-12">
					<div class="form-login" style="width: 50%;">
						<h4>Cradasto de Medicamento</h4>
						<h5>
							<font color=#8c8c8c>Nome Comercial:</font>
						</h5>
						<input type="text" id="medNomeCom"
							class="form-control input-sm chat-input"
							placeholder="NOME COMERCIAL" />
						<h5>
							<font color=#8c8c8c>Ativo:</font>
						</h5>
						<input type="text" id="medAtivo"
							class="form-control input-sm chat-input" placeholder="ATIVO" />
						<h5>
							<font color=#8c8c8c>Quantidade:</font>
						</h5>
						<input type="text" id="medQuant"
							class="form-control input-sm chat-input" placeholder="QUANTIDADE" />
						<h5>
							<font color=#8c8c8c>Forma:</font>
						</h5>
						<input type="text" id="medForma"
							class="form-control input-sm chat-input" placeholder="FORMA" />
						<h5>
							<font color=#8c8c8c>Concentração:</font>
						</h5>
						<input type="text" id="medConcentracao"
							class="form-control input-sm chat-input"
							placeholder="CONCENTRAÇÃO" />
						<h5>
							<font color=#8c8c8c>Validade:</font>
						</h5>
						<input type="Date" id="medValidade"
							class="form-control input-sm chat-input" placeholder="VALIDADE" />
						<h5>
							<font color=#8c8c8c>Lote:</font>
						</h5>
						<input type="text" id="medLote"
							class="form-control input-sm chat-input" placeholder="LOTE" /> </br>
						<div class="wrapper">
							<span class="group-btn"> <a href="#"
								class="btn btn-primary btn-md" onclick="alerta()">Cadastrar<i
									class="fa fa-sign-in"></i></a>
							</span>
						</div>
					</div>
				</div>
			</form>
		</div>

	</div>

</body>
</html>